body {
    color: white;
}

.prod_1{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

.prod_1 h1 , p{
    font-size: 1rem;

}
.prod_1 div{
    grid-row: 2 / 4;
}

.prod_3 {
    width: 10rem;
}

